In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [4]:
dataset = pd.read_csv("C:/Users/YASHWANTH/Downloads/Task2-Vehicle-Price-Prediction-main (1)/Task2-Vehicle-Price-Prediction-main/Car.csv")
x = dataset.iloc[:,[6,5,4,1,3]].values
y = dataset.iloc[:,2].values

In [6]:
pd.DataFrame(x)

           0           1       2     3       4
0     Manual  Individual  Petrol  2007   70000
1     Manual  Individual  Petrol  2007   50000
2     Manual  Individual  Diesel  2012  100000
3     Manual  Individual  Petrol  2017   46000
4     Manual  Individual  Diesel  2014  141000
...      ...         ...     ...   ...     ...
4335  Manual  Individual  Diesel  2014   80000
4336  Manual  Individual  Diesel  2014   80000
4337  Manual  Individual  Petrol  2009   83000
4338  Manual  Individual  Diesel  2016   90000
4339  Manual  Individual  Petrol  2016   40000

[4340 rows x 5 columns]

In [9]:
from sklearn.compose import make_column_transformer
#make_column_transformer((OneHotEncoder(), [0]),(OneHotEncoder(), [1]))
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[0]),('encoder1',OneHotEncoder(),[1]),('encoder2',OneHotEncoder(),[2])],remainder='passthrough')
ohe = OneHotEncoder()
x = np.array(ct.fit_transform(x))

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=1)

In [15]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression().fit(x_train,y_train)

In [17]:
df = pd.DataFrame(data = (y_test,lr.predict(x_test)))
df = df.rename(index={0:'Actual',1:'Predicted'})
df.transpose().round(2)

       Actual  Predicted
0    675000.0  807498.73
1    450000.0  571447.33
2    390000.0  479170.20
3    239000.0  444706.31
4    665000.0  644352.53
..        ...        ...
863  195000.0  151484.61
864  220000.0  514591.63
865  185000.0  405057.29
866  775000.0  582055.01
867  500000.0  596151.64

[868 rows x 2 columns]

In [18]:

print(lr.score(x_test,y_test))

0.5006288727582975